html {
    width: 100%;
}
.table_solid{
    width: 100%;
}
.table_solid, th, td  {
    border: 1px solid black;
    height: 100%;
}
.table_solid>thead {
    text-align: center;
}
.travel {
    width: 100%;
    height: 100%;
}
.travel_edit {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: gray;
    display: none;
}